body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}


h1{
    font-size: 50px;
}

h5{
    font-size: 20px;
}

h3{
    font-size: 30px;
}

.info-container {
    width: 80%;
    margin: 5%;
    padding: 5%;
    border-radius: 50px;
    background: #5b5b5b;
    box-shadow: 5px 5px 15px #313131, -5px -5px 15px #858585;
  }

.box1 {
    padding: 5%;
    font-size-adjust: auto;
    color: white;
    border-radius: 25px;
    background: #5b5b5b;
    box-shadow: inset 1px 1px 5px #313131, inset -1px -1px 5px white;
  }

.info-container2 {
    width: 80%;
    margin: 5%;
    padding: 5%;
    border-radius: 50px;
    background: #5b5b5b;
    box-shadow: 5px 5px 15px #313131, -5px -5px 15px #858585;
  }

.box2 {
    padding: 5%;
    font-size-adjust: auto;
    color: white;
    border-radius: 25px;
    background: #5b5b5b;
    box-shadow: inset 1px 1px 5px #313131, inset -1px -1px 5px white;
  }

.info-container3 {
    width: 80%;
    margin: 5%;
    padding: 5%;
    border-radius: 50px;
    background: #5b5b5b;
    box-shadow: 5px 5px 15px #313131, -5px -5px 15px #858585;
  }

.box3 {
    padding: 5%;
    font-size-adjust: auto;
    color: white;
    border-radius: 25px;
    background: #5b5b5b;
    box-shadow: inset 1px 1px 5px #313131, inset -1px -1px 5px white;
  }

.info-container4 {
    width: 80%;
    margin: 5%;
    padding: 5%;
    border-radius: 50px;
    background: #5b5b5b;
    box-shadow: 5px 5px 15px #313131, -5px -5px 15px #858585;
  }

.box4 {
    padding: 5%;
    font-size-adjust: auto;
    color: white;
    border-radius: 25px;
    background: #5b5b5b;
    box-shadow: inset 1px 1px 5px #313131, inset -1px -1px 5px white;
  }

.info-container5 {
    width: 80%;
    margin: 5%;
    padding: 5%;
    border-radius: 50px;
    background: #5b5b5b;
    box-shadow: 5px 5px 15px #313131, -5px -5px 15px #858585;
  }
  
.box5 {
    padding: 5%;
    font-size-adjust: auto;
    color: white;
    border-radius: 25px;
    background: #5b5b5b;
    box-shadow: inset 1px 1px 5px #313131, inset -1px -1px 5px white;
  }

.bg-light{
    padding: 15px;
}